.tags-and-blog_list{
	/*http://blog.csdn.net/voyage_mh1987/article/details/7294021*/
	margin-right: 9%;
	margin-left: 9%;
}

@media screen and (max-width:900px){
.tags{ 
	display:none; 
	}
.blog_list {
	width:100%!important;
	margin-left: 0!important;
	}
}


/*=========标签部分================*/
.tags{
	line-height: 180%;
	float: left;
	background: #fff;
	width:22%;
	border-radius: 7px;
	font-size: 18px;
	padding: 10px;
	font-family: Consolas,"微软雅黑", "Segoe UI", verdana, arial, sans-serif, "宋体";	
}

.tags p{
	font-weight: 700;
	margin-left: 5px;
	margin-right:5px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-bottom:1px solid rgba(30,30,100,0.5);
}

.tags ul{
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 5 30px;
	list-style-type: square;
	color:#666;
}

.tags a,a:visited{
	text-decoration: none;
	color: black;
	/*font-family: Georgia, serif;*/
}

.tags a:active{
	text-decoration: blink;
}

.tags a:hover{
	color:red;
	text-decoration: underline;
	cursor:hand;
}


/*=========博文列表================*/
.blog_list{
	/*分栏*/
	/*http://www.w3school.com.cn/cssref/pr_columns.asp*/
	/*columns: 100px 2;
    -webkit-columns: 100px 2;  Safari and Chrome 
    -moz-columns: 100px 2;  Firefox 
    column-gap:40px;*/
    /*margin-left:20%;*/
    /*margin-right:20%; */
    min-height: 470;
	background: #fff;
    width: 68%;
    margin-left: 5%;
    margin-bottom: 30px;
    float: left;
    font-family: Consolas,"微软雅黑", "Segoe UI", verdana, arial, sans-serif, "宋体";	
}

@media screen and (max-width:480px){
.tags-and-blog_list{
	margin: 0; 
}
.blog_list{
	background: #ebeff8;
    margin-left: 0%;
	}
}

.blog_list ul{
	list-style-type: square;
	line-height: 180%;
	margin-left: 15px;
	opacity:0.8;
}

.blog_list p{
	color: red;
	text-align: center;
	font-size: 24px;
	font-family: Georgia, serif;
	border-bottom:1px dashed #33F;
	padding: 15px;
	margin: 0px 30px 0px 30px;
}

.blog_list span{
	color: #333;
	font-family: Georgia, serif;
	font-size: 14px;
}

.blog_list a{
	text-decoration: none;
	color: blue;
	/*font-family: Georgia, serif; */
}

.blog_list a:active{
	text-decoration: blink;
}

.blog_list a:hover{
	color:red;
	text-decoration: underline;
	cursor:hand;
}
